body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    text-align: center;
}

.card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

/* Estilos para los colores de los cuadrados */
.card-red {
    background-color: #ff6347;
}

.card-blue {
    background-color: #4682b4;
}

.card-green {
    background-color: #99cc00;
}

.card-yellow {
    background-color: #ffcc00;
}

.card-pink {
    background-color: hsl(323, 100%, 50%);
}
