/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.4s ease-in-out;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

/* Añadir animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mejorar el botón de cierre */
#closeInstructions {
  display: inline-block;
  background-color: #eb2424;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

#closeInstructions:hover {
  background-color: #b30000;
}

/* Estilos adicionales para mejorar la apariencia del modal */
.modal-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.modal-content ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.modal-content ul li {
  font-size: 16px;
  margin-bottom: 10px;
}


.fondo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fondo .car {
  width: 100%;
  height: 70%;
  object-fit: cover;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
}


/* Estilo para el banner superior */
     #banner-superior {
          background-color: #f8cea4; /* Color de fondo */
          color: #000000;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 150px;
      }

      #imagen-izquierda {
          width: 120px;
          height: 120px;
          object-fit: cover;
          margin-left: 20px; /* Ajusta según sea necesario */
      }

      #contenedor-centrado {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          position: absolute;
          left: 43%;
      }

      #imagen-centrada {
          width: 240px;
          height: 160px;
          object-fit: contain;
          margin-right: 595px;
      }

      /* Estilos para el banner inferior */
      #banner-inferior {
          background-color: #f8cea4;
          text-align: center;
          margin: 0;
      }

      #banner-inferior a {
          margin-right: 20px;
          color: #007bff;
          text-decoration: none;
      }
     
      .btn-89,
      .btn-89 *,
      .btn-89 :after,
      .btn-89 :before,
      .btn-89:after,
      .btn-89:before {
        border: 0 solid;
        box-sizing: border-box;
      }
      .btn-89 {
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: button;
        background-color: #000;
        background-image: none;
        color: #fff;
        cursor: pointer;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
          Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 100%;
        font-weight: 900;
        line-height: 1.5;
        margin: 0;
        -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
        padding: 0;
      }
      .btn-89:disabled {
        cursor: default;
      }
      .btn-89:-moz-focusring {
        outline: auto;
      }
      .btn-89 svg {
        vertical-align: middle;
      }
      .btn-89 [hidden] {
        display: none;
      }
      .btn-89 {
        background: none;
        border: 2px solid;
        border-radius: 50%;
        box-sizing: border-box;
        display: block;
        height: 90px;
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        width: 90px;
      }
      .btn-89:hover {
        -webkit-animation: pulse 0.6s;
        animation: pulse 0.6s;
        box-shadow: 0 0 0 2em transparent;
      }
      @-webkit-keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 #fff;
        }
      }
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 #fff;
        }
      }
      .btn-89 svg {
        --size: 50px;
        fill: #000;
        display: block;
        height: var(--size);
        left: calc(50% - var(--size) / 2);
        position: absolute;
        top: calc(50% - var(--size) / 2);
        width: var(--size);
      }
      .btn-89:before {
        background: #fff;
        border-radius: 50%;
        content: "";
        inset: 2px;
        position: absolute;
      }
      .btn-89:hover svg,
      .btn-89:hover:before {
        -webkit-animation: move 0.5s;
        animation: move 0.5s;
      }
      @-webkit-keyframes move {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(100%);
        }
        51% {
          transform: translateY(-100%);
        }
        to {
          transform: translateY(0);
        }
      }
      @keyframes move {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(100%);
        }
        51% {
          transform: translateY(-100%);
        }
        to {
          transform: translateY(0);
        }
      }
      
.btn-94,
.btn-94 *,
.btn-94 :after,
.btn-94 :before,
.btn-94:after,
.btn-94:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-94 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  text-transform: uppercase;
}
.btn-94:disabled {
  cursor: default;
}
.btn-94:-moz-focusring {
  outline: auto;
}
.btn-94 svg {
  vertical-align: middle;
}
.btn-94 [hidden] {
  display: none;
}
.btn-94 {
  background: hsla(0, 0%, 100%, 0.2);
  background-clip: content-box;
  border: 5px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 100px;
  -webkit-mask-image: none;
  padding: 0;
  position: relative;
  transition: 0.2s;
  width: 100px;
}
.btn-94 svg {
  --size: 50px;
  fill: #fff;
  display: block;
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}
.btn-94:hover {
  --size: 70px;
  border: 10px solid transparent;
}

#correo{
  position: fixed;
  left: 1000px;
}
.mail{
  position: fixed;
  left: 1125px;
}
.contacto{
  color:#007bff;
  font-size: 20px;

}

.carousel {
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff;
}

.punto{
    position: fixed;
   
}
.container__slider {
    position: relative;
    top: 50px;
    max-width: 1000px;
    height: 350px;
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}


.container {
    width: 100%; /* Ancho del contenedor */
    max-width: 800px; /* Ancho máximo del contenedor */
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    position: relative;
    width: 70%;
    height: 70%;
}

.card {
    position: absolute;
    width: 70%; /* Ancho del contenedor */
    height: 60%; /* Altura del contenedor */
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
    cursor: pointer;  
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); 
    display: flex; /* Para centrar el contenido verticalmente */
    justify-content: center; /* Para centrar el contenido horizontalmente */
    align-items: center; /* Para centrar el contenido verticalmente */
}

img {
    width: 100%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
    height: 100%; /* Ajusta el tamaño máximo de la imagen a la altura del contenedor */
    border-radius: 10px;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortes */
    margin: auto;
}

input{
    display: none;
}

#item-4:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-4{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-4:checked ~ .cards #selector-1,
#item-3:checked ~ .cards #selector-4,
#item-2:checked ~ .cards #selector-3,
#item-1:checked ~ .cards #selector-2{
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3,
#item-4:checked ~ .cards #selector-4{
    transform: translateX(0) scale(1);
    z-index: 1;
}
